<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:node="remove" />

    <queries>
        <package android:name="com.amazon.sdktestclient" />
        <package android:name="com.amazon.venezia" />
    </queries>

    <application>
        <receiver
            android:name="com.amazon.device.iap.ResponseReceiver"
            android:exported="true"
            android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY">
            <intent-filter>
                <action android:name="com.amazon.inapp.purchasing.NOTIFY" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.amazon.device.drm.ResponseReceiver"
            android:exported="true"
            android:permission="com.amazon.drm.Permission.NOTIFY">
            <intent-filter>
                <action android:name="com.amazon.drm.NOTIFY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
